<div class="gallery">

  <img src=" ../../../../../assets/img/arbol.JPG" />
  <img src="../../../assets/img/hombre.JPG" >
  <img src="../../../assets/img/mar1.JPG" alt="">
  <img src="../../../assets/img/basket.JPG" alt="">
  <img src="../../../assets/img/ad2.JPG" alt="">
  <img src="../../../assets/img/ganado.JPG" />
  <img src="../../../assets/img/ad1.JPG" alt="">
  <img src="../../../assets/img/guachaca.JPG" alt="">
  <img src="../../../assets/img/carro.JPG" alt="">
  <img src="../../../assets/img/dubai.JPG" alt="">
  <img src="../../../assets/img/perros.jpeg" alt="">
  <img src="../../../assets/img/mar2.jpg" alt="">


</div>

