<nav class="navbar navbar-expand-lg bg-body-tertiary">
  <div class="container-fluid">
    <a class="navbar-brand" routerLink = "home">Luis Felipe Dussán</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav ms-auto">
        <li class="nav-item">
          <a class="nav-link " routerLink="home" routerLinkActive="active-link" [routerLinkActiveOptions]="{exact:true}">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="gallery" routerLinkActive="active-link">Gallery</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="about" routerLinkActive="active-link">About</a>
        </li>
        <li class="nav-item">
          <a class="nav-link " routerLink="music" routerLinkActive="active-link">Music</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="contact" routerLinkActive="active-link">Contact</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="blog" routerLinkActive="active-link">Blog</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="book" routerLinkActive="active-link">Book</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="shop" routerLinkActive="active-link">Shop</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
