<div class="contact">
  <div class="left-side">
    <h1>
      <span>Let's </span><span class="highlight">Connect</span><br>
      <span>and Create </span><span class="highlight">Together</span>
    </h1>
    <p class="schedule-text">Let's schedule a conversation right away!</p> <!-- Texto adicional -->

    <a href="mailto:felipe.dussan@icloud.com">
      <button class="conect-btn">
        Get In Touch
      </button>
    </a>

  </div>

  <!-- Lado derecho con la imagen -->
  <div class="right-side">
    <!-- Aquí ya no es necesario agregar la imagen, ya que es el fondo -->
  </div>
</div>
