<div class="aboutme">
  <div class="content">
    <div class="left-side">
      <img src="assets/img/baskiat.png" alt="About" />
    </div>
    <div class="right-side">
      <h1>About</h1>
      <p>Luis Felipe is a Colombian based creative, with an eye for capturing not only the country of Colombia he calls home, but nearly every other beautiful location the world has to offer.<br>
        His passions reside on photography, music, literature, art, extreme sports and Artificial Intelligence.<br>
        His work is inspired by disciplines like philosophy, physics, religion, mathematics and biology.<br>
        He concluded his studies in computer science at Universidad de los Andes, where he developed his skills in algorithms, engineering, data structures, mathematics,  programming languages and others.
      </p>
    </div>

  </div>
</div>




