<div class="aboutme">
  <div class = "content">
    <h1> About me </h1>
    <p>Felipe is a Colombian based creative , with an eye for capturing not only the country of Colombia he calls home, but nearly every other beautiful location the world has to offer. <br>

      His passions reside on Photography/Videography , music, literature, art, extreme sports and Artificial Intelligence applied to medicine, agriculture and environmental protection. <br>

      His work is inspired by disciplines like philosophy, physics, design , mathematics and biology. <br>

      He’s currently studying computer science at Universidad de los Andes, where he is developing his skills in algorithms , engineering , data structures, webpage and app development, IT businesses,
      programming languages and others.

      </p>
    </div>
</div>

