<div class="aboutme">
  <div class="content">
    <div class="left-side">
      <img src="../../../assets/img/about2.jpeg" alt="About" />
    </div>
    <div class="right-side">
      <h1>About</h1>
      <p>Felipe is a Colombian based creative, with an eye for capturing not only the country of Colombia he calls home, but nearly every other beautiful location the world has to offer.<br>
        His passions reside on Photography/Videography, music, literature, art, extreme sports and Artificial Intelligence applied to medicine, agriculture and environmental protection.<br>
        His work is inspired by disciplines like philosophy, physics, design, mathematics and biology.<br>
        He concluded his studies in computer science at Universidad de los Andes, where he developed his skills in algorithms, engineering, data structures, webpage and app development, IT businesses, programming languages and others.
      </p>
    </div>

  </div>
</div>

<div class="aboutme">
  <div class="content reverse">
    <div class="left-side">
      <h1>Code</h1>
      <p>Felipe has worked with different companies providing great work and motivation <br>
        You can describe more experiences, interests, or showcase other works.
      </p>
    </div>
    <div class="right-side">
      <img src="../../../assets/img/about3.jpeg" alt="Another Image" />
    </div>
  </div>
</div>


