<div class="camel">

  <div class="content">
    <h1 routerLink="Home"> Luis Felipe Dussán </h1>

  <h2> Software Developer </h2>
  <!-- Cambiado a un botón semántico -->
  <button
    routerLink="about"
    routerLinkActive="active-link"
    class="explore-btn">
    Click for a move
  </button>
  </div>

  <!-- Audio con una fuente válida -->
  <audio id="gravitySound">
    <source src="/assets/Futuristant - The Distance (Original Mix).wav" type="audio/wav">
    Tu navegador no soporta la etiqueta de audio.
  </audio>
</div>
