body {
    font-family: Arial, sans-serif;
    text-align: center;
    margin-top: 50px;
    min-height: 100vh;
    overflow-y: auto;
}

h1 {
    color: #000;
      font-family: Literata;
      font-size: 80px;
      font-weight: 400;
      line-height: normal;
}

#game-container {
    margin-top: 20px;
}

.board {
    display: grid;
    grid-template-columns: repeat(3, 100px);
    grid-gap: 5px;
    justify-content: center;
}

.cell {
    width: 100px;
    height: 100px;
    border: 1px solid #333;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2em;
    cursor: pointer;
    background-color: #f4f4f4;
}

button {
  font-family: Inter;
    color: aliceblue;
    background-color: rgba(0, 0, 0, 0.5); /* Fondo semitransparente */
    border: 1px solid aliceblue; /* Borde visible */
    font-size: 18px;
    font-weight: 700;
    padding: 10px 20px;
    border-radius: 5px;
    position: bottom;
    left: 46%; /* Alineado con los títulos */
    top: 560px; /* Justo debajo de los títulos */
    cursor: pointer;
    transition: background-color 0.2s ease-in-out, transform 0.2s ease-in-out;
}

button:hover {
    background-color: var(--secondary-color);
}

#game-message {
    margin-top: 20px;
    font-size: 1.2em;
    color: #f44336;
}

#bottom-section {
  display: flex;
  justify-content: space-between;
  margin-top: 30px;
  width: 100%;
}

#game {
  display: flex;
   justify-content: space-between;
   margin-top: 20px; /* Espacio superior para separar las secciones */
   border-top: 2px solid black; /* Línea negra para dividir las secciones */
   padding-top: 20px;
}

.left-section {
  width: 70%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-left: 40px; /* Añade un espacio interno desde la izquierda */
}


.Q p{
  font-size: 1.5rem;
  color: #000;
  margin-top: 20px;
  font-family: Literata;
  font-weight: 100;
}

.highlight {
  color: #ff6347;
  font-weight: bold;
}


.Q a{
 color: var(--secondary-color);
  text-decoration: line-through;
}

.left-section p {
  font-size: 1.5rem;
  color: #000;
  margin-top: 20px;
  font-family: Literata;
  font-weight: 100;
}

.right-section {
  width: 45%; /* Establece un porcentaje del ancho disponible */
  display: flex;
  justify-content: center;
  align-items: center;
}

.right-section img {
  width: 50%;
  max-width: 600px; /* Limita el tamaño máximo de la imagen */
  height: auto;
  border-radius: 8px;
}

/* Add your styles here */

